- name: Install required packages
  ansible.builtin.apt:
    state: present
    update_cache: true
    pkg:
      - gpg
      - git
      - libguestfs-tools
  become: true

- name: Add Hashicorp apt repo
  ansible.builtin.deb822_repository:
    name: hashicorp
    types: [deb]
    uris: "https://apt.releases.hashicorp.com"
    signed_by: "https://apt.releases.hashicorp.com/gpg"
    suites: ["{{ ansible_distribution_release | lower }}"]
    components: [main]
    state: present
    enabled: true
  become: true

- name: Install Packer
  ansible.builtin.apt:
    name: packer
    state: present
    update_cache: true
  become: true
