---
- name: Install required packages
  ansible.builtin.apt:
    name: 
      - gpg 
      - git
    state: present
    update_cache: yes
  become: true

- name: Add Hashicorp apt key
  ansible.builtin.apt_key:
    url: https://apt.releases.hashicorp.com/gpg
    state: present
  become: true

- name: Add Hashicorp apt repository
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main
    state: present
    filename: hashicorp
    update_cache: yes
  become: true

- name: Install Packer
  ansible.builtin.apt:
    # K8s-image-builder requires a specific version of packer
    name: packer=1.9.5-1
    state: present
    allow_downgrade: yes
  become: true
