- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- name: Install dnsutils for dig
  ansible.builtin.package:
    name: dnsutils
    state: present
    update_cache: true
  when: ansible_distribution == "Rocky"

- name: Copy in nubes-bootcontext script
  copy:
    src: "nubes-bootcontext.sh"
    dest: "/usr/local/sbin/nubes-bootcontext.sh"
    owner: root
    group: root
    mode: 0755

- name: Copy in nubes-boot systemd unit
  copy:
    src: "nubes-boot.service"
    dest: "/etc/systemd/system/nubes-boot.service"
    owner: root
    group: root
    mode: 0644

- name: Copy in motd
  copy:
    src: "motd"
    dest: "/etc/motd"
    owner: root
    group: root
    mode: 0644

- name: Start systemd service
  become: true
  ansible.builtin.command:
    cmd: "systemctl enable nubes-boot.service"

- include_tasks: update_cloud_users.yml
