- name: Install UK eScience CA on Ubuntu
  block:
    - name: Install required package
      ansible.builtin.apt:
        name: python3-debian
        update_cache: true
        state: present
      become: true
        
    - name: Add EU Grid PMA repo
      ansible.builtin.deb822_repository:
        name: eu-grid-pma
        uris: http://repository.egi.eu/sw/production/cas/1/current
        signed_by: "https://dist.eugridpma.info/distribution/igtf/current/GPG-KEY-EUGridPMA-RPM-4"
        suites: egi-igtf
        components: core
        state: present
      become: true

    - name: Install UK eScience Root
      ansible.builtin.apt:
        name: ca-ukescienceroot-2007
        state: present
        update_cache: yes
      become: true

    - name: Install UK eScience CA
      ansible.builtin.apt:
        name: ca-ukescienceca-2b 
        state: present
        update_cache: yes
      become: true
  when: ansible_distribution == "Ubuntu"

- name: Install UK eScience Root CA on RL
  block:
    - name: add CA repo
      ansible.builtin.yum_repository:
        name: eScienceCAs
        file: eScienceCAs
        description: "Repository to install the UK eScience (and other IGTF) CA certs from"
        baseurl: https://repository.egi.eu/sw/production/cas/1/current
        enabled: true
        gpgcheck: true
        gpgkey: "https://dist.eugridpma.info/distribution/igtf/current/GPG-KEY-EUGridPMA-RPM-4"
      become: true

    - name: Install UK eScience Packages
      ansible.builtin.yum:
        name:
        - ca_UKeScienceRoot-2007
        - ca_UKeScienceCA-2B
        state: present
      become: true
  when: ansible_distribution == "Rocky"
