- name: add CA repo
  yum_repository:
    name: eScienceCAs
    file: eScienceCAs
    description: "Repository to install the UK eScience (and other IGTF) CA certs from"
    baseurl: https://repository.egi.eu/sw/production/cas/1/current
    enabled: true
    gpgcheck: true
    gpgkey: "https://dist.eugridpma.info/distribution/igtf/current/GPG-KEY-EUGridPMA-RPM-4"
  become: true

- name: Install UK eScience Packages
  yum:
    name:
    - ca_UKeScienceRoot-2007
    - ca_UKeScienceCA-2B
    state: present
  become: true