- name: Find output image
  find:
    path: "{{ playbook_dir }}/{{ provisioner_output_path }}"
    patterns: "*{{ build_variant }}*"
  register: provisioner_output

- name: Run virt-sysprep on each image
  shell:
    cmd: "virt-sysprep --format qcow2 -a {{ item }}  {{ sysprep_options }}"
  with_items: "{{ provisioner_output.files | map(attribute='path') | list }}"
