- name: Install Qemu Guest Agent on Ubuntu
  ansible.builtin.apt:
    name: qemu-guest-agent
    state: present
    update_cache: yes
  become: true
  when: ansible_os_family == "Debian"

- name: Install Qemu Guest Agent on RL
  ansible.builtin.yum:
    name: "qemu-guest-agent"
    state: present
  become: true
  when: ansible_os_family == "RedHat"

- name: Enable Qemu Guest Agent
  ansible.builtin.systemd_service:
    name: qemu-guest-agent.service
    enabled: true
  become: true
