- name: Prep STFC Cloud User Image
  hosts: all
  become: true

  pre_tasks:
    - name: User warning
      ansible.builtin.debug:
        msg: "[Warning] Do not run on non-cloud machine"

  roles:
    - role: ../roles/vm_baseline
    - role: ../roles/container_registry
    - role: ../roles/nubes_bootcontext
    - role: ../roles/image_fixes
