
- name: Install cron on Ubuntu
  apt:
    name: "cron"
    state: present
    update_cache: yes
  when: ansible_distribution == "Ubuntu"
  become: true

- name: Install cron on RL
  yum:
    name: "cronie"
    state: present
  when: ansible_distribution == "Rocky" 
  become: true
