---
- name: Install locales on Debian
  ansible.builtin.apt:
    name: locales
    state: present
    update_cache: true
  become: true
  when: ansible_os_family == "Debian"

- name: Install locales on RedHat
  ansible.builtin.dnf:
    name:
      - glibc-locale-source
      - glibc-langpack-en
    state: present
  become: true
  when: ansible_os_family == "RedHat"
  