- include_tasks: update.yml
- include_tasks: get-package-facts.yml

- include_tasks: cron.yml
- include_tasks: grub-cmdline.yml

- include_tasks: ssh.yml
- include_tasks: rsyslog.yml
- include_tasks: openscap.yml

# Include Pakiti last, so it will report on the state of a complete system
- include_tasks: ukescienceca.yml
- include_tasks: pakiti.yml
- include_tasks: qemu-guest-agent.yml

- include_tasks: disable_selinux.yml
