- name: Install openscap
  package:
    name: libopenscap8
    state: present
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version != "24.04"
  register: result
  retries: 5
  delay: 30
  until: result is not failed
  become: true

- name: Install openscap
  package:
    name:
    - openscap-scanner
    - openscap-utils
    state: present
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == "24.04"
  register: result
  retries: 5
  delay: 30
  until: result is not failed
  become: true

- name: Install openscap
  package:
    name: openscap-scanner
    state: present
  when: ansible_distribution == "Rocky" 
  register: result
  retries: 5
  delay: 30
  until: result is not failed
  become: true