- name: Error for unknown distributions
  fail:
    msg: "Unknown distribution {{ ansible_distribution }}"
  when: ansible_distribution != "Rocky" and ansible_distribution != "Ubuntu"

- name: Install system updates for RL systems
  yum:
    name: "*"
    state: latest
    update_cache: yes
  when: ansible_distribution == "Rocky"
  register: result
  until: result is not failed
  retries: 5
  delay: 30
  become: true

- name: Install system updates for Ubuntu systems
  ansible.builtin.apt:
    upgrade: dist
    update_cache: yes
    autoremove: yes
    autoclean: yes
  when: ansible_distribution == 'Ubuntu'
  register: result
  until: result is not failed
  retries: 5
  delay: 30
  become: true

- name: get IP
  shell: hostname -I
  register: my_hostname

- name: print IP
  debug:
    msg: "{{ my_hostname }}"