name: Black formatter

on: [push, pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable

  test_and_lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
    steps:
        - uses: actions/checkout@v4
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v6
          with:
            python-version: ${{ matrix.python-version }}
            cache: "pip"
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r scripts/requirements.txt
        
        - name: Run tests
          run: cd scripts && python3 -m pytest .
        
        - name: Analyse with pylint
          run: pylint --recursive yes scripts