name: Shellcheck
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.sh'

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
            format: tty
